.page-title{
  color: red;
  height: 500px;
  background-image:url('bebi.jpg');
  /* background-image:url(../steyei1/bebi.jpg) */
  background: size 50%;
  background-color:yellow ;
 border-radius: 20px;
 background-blend-mode: ;
}
p{
  color: aqua;
  font-size: 30px;
}
h1{
  color: rgb(206, 246, 6);
  font-size: 50px;
}
#the-next{
  color: rgb(243, 74, 7);
}
h2{
  color: blueviolet;
  font-size: 60px;
}
.the-next{
  color: yellowgreen;
}