h1{
  color: aqua;
  font-size: 80px;
}
 ul{
    color: rgb(117, 117, 112);
    font-size: 40px;
    font-style: inherit;
    font-family: fantasy;
    stroke-width: 100px;
 }
 h2{
  color: rgb(4, 58, 25);
  font-size: 50px;
  font-weight: 800;
 }
p{
  color: rgb(9, 218, 68);
  font-size: 40px;
}